@import 'tailwindcss';

@theme {
  --color-primary: #3a31fd;
  --color-secondary: #dddddf;
}

html,
body {
  font-family: var(
    --font-space-grotesk,
    'Space Grotesk',
    system-ui,
    sans-serif
  );

  @apply bg-primary text-secondary m-0 size-full font-medium;
}

main {
  @apply mx-4;
}

h1 {
  @apply text-6xl md:text-8xl;
}

h2 {
  @apply text-2xl md:text-4xl;
}

p {
  @apply text-base md:text-2xl;
}
