@import 'tailwindcss';

@theme {
  --color-primary: #3a31fd;
  --color-secondary: #dddddf;
  --color-tertiary: oklch(55.2% 0.016 285.938);
}

html,
body {
  font-family: var(
    --font-space-grotesk,
    'Space Grotesk',
    system-ui,
    sans-serif
  );

  /* font-family: var(--font-inter, 'Inter', system-ui, sans-serif); */

  @apply bg-black text-gray-300 m-0 size-full;
}

@layer base {
  main {
    @apply flex justify-center px-6 pb-24 pt-8 sm:pb-28 sm:pt-32;
  }

  p {
    @apply text-[15px];
  }

  h1 {
    @apply text-[24px];
  }

  h2 {
    @apply text-[17px];
  }

  h3 {
    @apply text-[15px];
  }

  dl {
    @apply mb-12 grid grid-cols-12 gap-8 gap-y-2 sm:mb-16 sm:gap-y-4;
  }

  dt {
    @apply col-span-12 border-t border-solid border-neutral-500/10 dark:border-neutral-900 sm:col-span-4;
  }

  dd {
    @apply col-span-12 border-solid border-neutral-500/10 dark:border-neutral-900 sm:col-span-8 sm:border-t;
  }
}
